/node_modules
/public/build
/public/hot
/public/storage
/public/css/filament/
/public/fonts/filament/
/public/js/filament/
/storage/*.key
/storage/*
/vendor
/tests/Browser/screenshots
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
tests/cypress/videos/*
tests/cypress/screenshots/*
.phpactor.json
.phpstorm.meta.php
_ide_helper.php

