// https://colorhunt.co/palette/1a374d4068826998abb1d0e0

$primary   : #1A374D;
$secondary : #406882;
$accent    : #6998AB;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #80ED99;
$negative  : #EB4747;
$info      : #FFD24C;
$warning   : #F2C037;