// https://colorhunt.co/palette/1a374d4068826998abb1d0e0

$primary   : #26a69a;
$secondary : #2673a6;
$accent    : #00766b;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #00766b;
$negative  : #EB4747;
$info      : #FFD24C;
$warning   : #F2C037;