// https://colorhunt.co/palette/1a374d4068826998abb1d0e0

$primary   : #006153;
$secondary : #014c67;
$accent    : #00947F;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #00766b;
$negative  : #EB4747;
$info      : #0b63d6;
$warning   : #F2C037;
